<div class="invitation">
  <div class="info">
    <h1>Come to celebrate the new year with us!</h1>
    <div class="companyLogo"></div>
    <h2>IT company</h2>
    <p>Implementing your IT solutions</p>

    <span class="slogan text-big">
      We will be more than happy to<br />
      have you with us for this very</span
    >
  </div>

  <div class="date">
    <div class="text-big">Wednesday</div>
    <div class="middle">
      <p>December</p>
      <span class="day">29</span>
    </div>
    <div class="text-big">19h to 23h</div>
  </div>

  <button mat-button (click)="openDialog()">Accept / Refuse</button>
  <div class="bottomImg"></div>
</div>
