.title {
  background-color: hsl(211deg 91% 45%);
  color: white;
  display: flex;
  justify-content: space-between;
}

.title p {
  padding-left: 3%;
}

h3 {
  margin: 0 0 1% 0;
  padding: 0;
}

.form-error {
  color: red;
  font-size: 0.6em;
  text-align: left;
  margin-left: 100px;
}

.mat-form-field {
  width: 70%;
  margin-bottom: 0;
}

.form-info {
  text-align: left;
  padding-left: 3%;
}

.form {
  height: 500px;
}

.mat-radio-group {
  display: flex;
  margin: 15px 0;
}

.female {
  margin-left: 15px;
  margin-right: 25px;
}

.gender {
  flex: 1;
}

.alone {
  flex: 2;
}

.invitation-info {
  display: flex;
  justify-content: center;
}

.invitation-info .mat-icon {
  margin-top: 4%;
  margin-right: 2%;
}

.extra-invitation-info {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: auto;
  margin-left: 20%;
}

.amount-colleagues {
  margin-left: 6.5%;
  font-size: 0.8em;
  width: 90%;
}

.extra-invitation-info div {
  font-size: 0.8em;
  text-align: left;
}

.mat-button-toggle-group {
  margin-top: 2%;
  margin-bottom: 2%;
}
.attending .yes {
  color: green;
}

.attending .no {
  color: red;
}

.submit {
  background-color: white;
  border: 1px solid lightgray;
  padding: 1% 5%;
}

@media only screen and (min-width: 1200px) {
  .extra-invitation-info div {
    font-size: 0.8em;
    text-align: left;
  }
  .extra-invitation-info .mat-form-field {
    width: 100%;
  }
  .amount-colleagues {
    display: flex;
    margin-left: auto;
    margin-right: -%;
    width: 58%;
  }
  .extra-invitation-info {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 18%;
  }
}
