<div mat-dialog-title class="title">
  <p>Are you coming? Give us more details.</p>
  <button mat-button mat-dialog-close>X</button>
</div>
<div>
  <div class="form-info">
    <h3>Dear invited, <br />We will appreciate if you confirm your presence</h3>
    <span
      >We are very happy that you have the intention to come! Please fill the
      form below to let us plan the best way to organize our event.</span
    >
  </div>

  <mat-dialog-content [formGroup]="invitationForm">
    <div>
      <mat-icon matSuffix>person</mat-icon>
      <mat-form-field>
        <input type="text" formControlName="name" matInput placeholder="Name" />
      </mat-form-field>
      <mat-error
        class="form-error"
        *ngIf="form['name'].touched && form['name'].invalid"
        >How do you want us to call you?</mat-error
      >
    </div>

    <div>
      <mat-icon matSuffix>phone</mat-icon>
      <mat-form-field>
        <input
          type="number"
          formControlName="phone"
          matInput
          placeholder="Phone Number"
        />
      </mat-form-field>
      <mat-error
        class="form-error"
        *ngIf="form['phone'].touched && form['phone'].invalid"
        >How may we reach you?</mat-error
      >
    </div>

    <div>
      <mat-icon matSuffix>email</mat-icon>
      <mat-form-field>
        <input
          type="email"
          formControlName="email"
          matInput
          placeholder="Email"
        />
      </mat-form-field>
      <mat-error
        class="form-error"
        *ngIf="form['email'].touched && form['email'].invalid"
        >What is your email address?</mat-error
      >
    </div>

    <div class="extra-form-info">
      <div class="gender">
        <label>Gender</label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button class="female" value="female"
            >Female</mat-radio-button
          >
        </mat-radio-group>
        <mat-error
          class="form-error"
          *ngIf="form['gender'].touched && form['gender'].invalid"
          >What is your gender?</mat-error
        >
      </div>

      <mat-form-field>
        <mat-label>Who is coming with you?</mat-label>
        <select formControlName="alone" matNativeControl>
          <option value="yes">Just myself</option>
          <option value="no">I'm coming with some colleagues</option>
        </select>
      </mat-form-field>
      <mat-error
        class="form-error"
        *ngIf="form['alone'].touched && form['alone'].invalid"
        >Are you bringing someone with you?</mat-error
      >
    </div>

    <div *ngIf="form['alone'].value === 'no'" class="amount-colleagues">
      <mat-form-field>
        <input
          matInput
          formControlName="amount"
          type="number"
          placeholder="How many colleagues?"
        />
      </mat-form-field>
    </div>

    <div class="attending">
      <label>May we count on you?</label><br />
      <mat-button-toggle-group formControlName="attending">
        <mat-button-toggle class="yes" value="true"
          ><mat-icon>thumb_up</mat-icon> YES</mat-button-toggle
        >
        <mat-button-toggle class="no" value="false"
          ><mat-icon>thumb_down</mat-icon> NO</mat-button-toggle
        >
      </mat-button-toggle-group>
      <mat-error
        class="form-error"
        *ngIf="form['attending'].touched && form['attending'].invalid"
        >Are you coming or not?</mat-error
      >
    </div>
  </mat-dialog-content>
</div>

<div>
  <button mat-button class="submit" click="save()">Submit response</button>
</div>
