@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: auto;
  padding: 0;
  width: 60%;
  color: hsl(241deg 100% 17%);
  text-align: center;
  background: url(./assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.5em;
  background-position: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.mat-dialog-container {
  padding: 0 !important;
  font-size: 0.8em;
}
